<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">

	<localRepository>${user.home}/.m2/repository</localRepository>
	<profiles>
		<profile>
			<id>sayantan</id>
			<repositories>
				<repository>
					<id>id-sayantan</id>
					<url>${user.home}/.m2/repository</url>
				</repository>
				<repository>
					<id>central</id>
					<url>http://repo1.maven.org/maven2/</url>
					<snapshots>
						<enabled>false</enabled>
					</snapshots>
					<releases>
						<enabled>true</enabled>
					</releases>
				</repository>
				<repository>
					<id>apache</id>
					<url>http://commons.apache.org/proper/</url>
					<layout>default</layout>
				</repository>
				<repository>
					<id>alfresco</id>
					<url>https://artifacts.alfresco.com/nexus/content/repositories/public/</url>
					<layout>default</layout>
				</repository>
				<repository>
					<id>jboss-ga-repository</id>
					<name>JBoss GA Tech Preview Maven Repository</name>
					<url>http://maven.repository.redhat.com/techpreview/all</url>
					<layout>default</layout>
					<releases>
						<enabled>true</enabled>
						<updatePolicy>always</updatePolicy>
					</releases>
					<snapshots>
						<enabled>false</enabled>
						<updatePolicy>never</updatePolicy>
					</snapshots>
				</repository>
				<repository>
					<id>maven2-repository.dev.java.net</id>
					<name>Java.net Repository for Maven</name>
					<url>http://download.java.net/maven/2/</url>
					<layout>default</layout>
				</repository>
				<repository>
					<id>local-repo</id>
					<name>Local Repository for Maven</name>
					<url>file://${project.basedir}/src/main/webapp/WEB-INF</url>
					<layout>default</layout>
				</repository>
			</repositories>
			<pluginRepositories>
				<pluginRepository>
					<id>jboss-ga-plugin-repository</id>
					<name>JBoss 7 Maven Plugin Repository</name>
					<url>http://maven.repository.redhat.com/techpreview/all</url>
					<layout>default</layout>
					<releases>
						<enabled>true</enabled>
						<updatePolicy>never</updatePolicy>
					</releases>
					<snapshots>
						<enabled>false</enabled>
						<updatePolicy>never</updatePolicy>
					</snapshots>
				</pluginRepository>
			</pluginRepositories>
		</profile>
	</profiles>
	<activeProfiles>
		<activeProfile>sayantan</activeProfile>
	</activeProfiles>
	<interactiveMode>true</interactiveMode>
	<offline>false</offline>
	<pluginGroups></pluginGroups>
	<proxies>
		<!--<proxy>
			<id>optional</id>
			<active>true</active>
			<protocol>http</protocol>
			<username>SayantanG</username>
			<password>sg@12345</password>
			<host>10.250.4.65</host>
			<port>8080</port>
			<nonProxyHosts>127.0.0.1|localhost|10.173.0.52</nonProxyHosts>
		</proxy>-->
	</proxies>
	<servers>
		<!--
		<server>
			<id>prod</id>
			<privateKey>/path/to/private/key</privateKey>
			<passphrase>password</passphrase>
		</server>
		-->
	</servers>
	<mirrors></mirrors>
</settings>
