<div class="container">
  <div class="row page-title">
    <div class="col-md-6">
      <div class="card">
        <div class="h-tab">
          <div class="tab">
            <button mat-raised-button class="btn btn-warning btn-round tab-link default-active" (click)="tabClick($event, '_home')">Home</button>
            <button mat-raised-button class="btn btn-warning btn-round tab-link" (click)="tabClick($event, '_analytics')">Analytics</button>
            <button mat-raised-button class="btn btn-warning btn-round tab-link" (click)="tabClick($event, '_results')">Results</button>
<!--             <button mat-raised-button class="btn btn-warning btn-round tab-link" (click)="tabClick($event, '_stalagmite')">Stalagmite</button> -->
            <button mat-raised-button class="btn btn-warning btn-round tab-link" (click)="tabClick($event, '_stalactite')">Stalactite</button>
            <button mat-raised-button class="btn btn-warning btn-round tab-link" (click)="tabClick($event, '_meander')">Meander</button>
            <button mat-raised-button class="btn btn-warning btn-round tab-link" (click)="tabClick($event, '_estuary')">Estuary</button>
            <button mat-raised-button class="btn btn-warning btn-round tab-link" (click)="tabClick($event, '_delta')">Delta</button>
            <button mat-raised-button class="btn btn-warning btn-round tab-link" (click)="tabClick($event, '_rapid')">Rapid</button>
          </div>
          <div id="_home" class="tab-content">
            <!--<div class="jumbotron jumbotron-fluid">
              <div class="container">
                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                  <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                  </ol>
                  <div class="carousel-inner">
                    <div class="carousel-item active">
                      <img class="d-block w-100" src="..." alt="First slide">
                    </div>
                    <div class="carousel-item">
                      <img class="d-block w-100" src="..." alt="Second slide">
                    </div>
                    <div class="carousel-item">
                      <img class="d-block w-100" src="..." alt="Third slide">
                    </div>
                  </div>
                  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                  </a>
                  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                  </a>
                </div>
              </div>
            </div>-->
            <div class="jumbotron">
              <h1 class="display-4">Hello, world!</h1>
              <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
              <hr class="my-4">
              <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
              <p class="lead">
                <a href="#" mat-raised-button>Learn more</a>
              </p>
            </div>
          </div>
          <div id="_analytics" class="tab-content">
            <div class="jumbotron jumbotron-fluid">
              <div class="container">
                <h1>Analytics Module</h1>
                <p>Bootstrap is the most popular HTML, CSS, and JS framework for developing responsive, mobile-first projects on the web.</p>
              </div>
            </div>
          </div>
          <div id="_results" class="tab-content">
            <div class="jumbotron jumbotron-fluid">
              <div class="container">
                <h1>Results Module</h1>
                <p>Bootstrap is the most popular HTML, CSS, and JS framework for developing responsive, mobile-first projects on the web.</p>
              </div>
            </div>
          </div>
          <!-- <div id="_stalagmite" class="tab-content">
            <div class="jumbotron jumbotron-fluid">
              <div class="container">
                <h1>Stalagmite Module</h1>
                <p>
                  <app-reports></app-reports>
                </p>
              </div>
            </div>
          </div> -->
          <div id="_stalactite" class="tab-content">
            <div class="jumbotron jumbotron-fluid">
              <div class="container">
                <h1>Stalactite Module</h1>
                <p>Bootstrap is the most popular HTML, CSS, and JS framework for developing responsive, mobile-first projects on the web.</p>
              </div>
            </div>
          </div>
          <div id="_meander" class="tab-content">
            <div class="jumbotron jumbotron-fluid">
              <div class="container">
                <h1>Meander Module</h1>
                <p>Bootstrap is the most popular HTML, CSS, and JS framework for developing responsive, mobile-first projects on the web.</p>
              </div>
            </div>
          </div>
          <div id="_estuary" class="tab-content">
            <div class="jumbotron jumbotron-fluid">
              <div class="container">
                <h1>Estuary Module</h1>
                <p>Bootstrap is the most popular HTML, CSS, and JS framework for developing responsive, mobile-first projects on the web.</p>
              </div>
            </div>
          </div>
          <div id="_delta" class="tab-content">
            <div class="jumbotron jumbotron-fluid">
              <div class="container">
                <h1>Delta Module</h1>
                <p>Bootstrap is the most popular HTML, CSS, and JS framework for developing responsive, mobile-first projects on the web.</p>
              </div>
            </div>
          </div>
          <div id="_rapid" class="tab-content">
            <div class="jumbotron jumbotron-fluid">
              <div class="container">
                <h1>Rapid Module</h1>
                <p>Bootstrap is the most popular HTML, CSS, and JS framework for developing responsive, mobile-first projects on the web.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

